div {
    background-color: lawngreen;
}
.add-to-cart-button {
    background-color: #ff9f00;
}
.buy-now-button {
background-color: #fb631b;
}
button {
    padding: 18px 8px;
    border: none;
    color: white;
    border-radius: 3px;
    width: 200px;
}